<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TanjiMimic.Properties.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TanjiMimic.Properties.Data>
            <setting name="PlayerDataLoaded" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="PlayerGesture" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="PlayerDance" serializeAs="String">
                <value>1270</value>
            </setting>
            <setting name="PlayerSay" serializeAs="String">
                <value>1836</value>
            </setting>
            <setting name="PlayerShout" serializeAs="String">
                <value>3449</value>
            </setting>
            <setting name="PlayerSign" serializeAs="String">
                <value>279</value>
            </setting>
            <setting name="PlayerSendMessage" serializeAs="String">
                <value>2421</value>
            </setting>
            <setting name="PlayerWhisper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerChangeData" serializeAs="String">
                <value>1583</value>
            </setting>
            <setting name="PlayerActionsDetected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HostGesture" serializeAs="String">
                <value>1114</value>
            </setting>
            <setting name="HostDance" serializeAs="String">
                <value>1413</value>
            </setting>
            <setting name="HostSay" serializeAs="String">
                <value>3331</value>
            </setting>
            <setting name="HostShout" serializeAs="String">
                <value>3221</value>
            </setting>
            <setting name="HostSign" serializeAs="String">
                <value>215</value>
            </setting>
            <setting name="HostSendMessage" serializeAs="String">
                <value>2085</value>
            </setting>
            <setting name="HostChangeClothes" serializeAs="String">
                <value>2274</value>
            </setting>
            <setting name="HostChangeMotto" serializeAs="String">
                <value>1350</value>
            </setting>
            <setting name="HostWhisper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </TanjiMimic.Properties.Data>
    </userSettings>
</configuration>