<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TanjiMimic.Properties.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sulakore.Properties.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TanjiMimic.Properties.Data>
            <setting name="PlayerDataLoaded" serializeAs="String">
                <value>961</value>
            </setting>
            <setting name="PlayerGesture" serializeAs="String">
                <value>2482</value>
            </setting>
            <setting name="PlayerDance" serializeAs="String">
                <value>3848</value>
            </setting>
            <setting name="PlayerSay" serializeAs="String">
                <value>2735</value>
            </setting>
            <setting name="PlayerShout" serializeAs="String">
                <value>3274</value>
            </setting>
            <setting name="PlayerSign" serializeAs="String">
                <value>2566</value>
            </setting>
            <setting name="PlayerSendMessage" serializeAs="String">
                <value>625</value>
            </setting>
            <setting name="HostGesture" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HostDance" serializeAs="String">
                <value>1764</value>
            </setting>
            <setting name="HostSay" serializeAs="String">
                <value>2462</value>
            </setting>
            <setting name="HostShout" serializeAs="String">
                <value>1559</value>
            </setting>
            <setting name="HostSign" serializeAs="String">
                <value>1037</value>
            </setting>
            <setting name="HostSendMessage" serializeAs="String">
                <value>2046</value>
            </setting>
            <setting name="HostChangeClothes" serializeAs="String">
                <value>2889</value>
            </setting>
            <setting name="HostChangeMotto" serializeAs="String">
                <value>3060</value>
            </setting>
            <setting name="SavedLang" serializeAs="String">
                <value>English</value>
            </setting>
        </TanjiMimic.Properties.Data>
        <Sulakore.Properties.Data>
            <setting name="PlayerDataLoaded" serializeAs="String">
                <value>964</value>
            </setting>
            <setting name="PlayerGesture" serializeAs="String">
                <value>2482</value>
            </setting>
            <setting name="PlayerDance" serializeAs="String">
                <value>3848</value>
            </setting>
            <setting name="PlayerSay" serializeAs="String">
                <value>2735</value>
            </setting>
            <setting name="PlayerShout" serializeAs="String">
                <value>3274</value>
            </setting>
            <setting name="PlayerSign" serializeAs="String">
                <value>2566</value>
            </setting>
            <setting name="PlayerSendMessage" serializeAs="String">
                <value>625</value>
            </setting>
            <setting name="HostGesture" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HostDance" serializeAs="String">
                <value>1764</value>
            </setting>
            <setting name="HostSay" serializeAs="String">
                <value>2462</value>
            </setting>
            <setting name="HostShout" serializeAs="String">
                <value>1559</value>
            </setting>
            <setting name="HostSign" serializeAs="String">
                <value>1037</value>
            </setting>
            <setting name="HostSendMessage" serializeAs="String">
                <value>2046</value>
            </setting>
            <setting name="HostChangeClothes" serializeAs="String">
                <value>2889</value>
            </setting>
        </Sulakore.Properties.Data>
    </userSettings>
</configuration>